<li *ngIf="pokemon" class="mb-3 shadow-2xl p-4 bg-blue-50 relative">
    <section>
        <span class="text-3xl"> {{ pokemon.id }}</span>
        <img [src]="pokemon.image" [alt]="pokemon.image"/>
    </section>
    <section>
        <span class="text-2xl block mb-2"> {{ pokemon.name }} </span>
        <app-catch-pokemon-button [pokemonName]="pokemon.name"></app-catch-pokemon-button>
        <app-show-more-button [pokemon]="pokemon"></app-show-more-button>
    </section>
 </li>