<nav
  class="bg-red-700 p-2 flex justify-between items-center sticky top-0 w-full z-50"
>
  <span class="font-bold"
    ><a routerLink="/pokemon"
      ><img class="max-w-xs h-10 sm:h-14" src="assets/images/logo.png" /></a
  ></span>
  <ng-container *ngIf="trainer !== undefined">
    <ul class="flex items-center">
      <li class="px-2 text-blue-50 font-bold w-20 sm:w-auto">
        <a routerLink="/trainer">Trainer profile</a>
      </li>
      <li class="px-2 text-blue-50 font-bold w-20 sm:w-auto">
        <a routerLink="/pokemon">Pokemon catalogue</a>
      </li>
      <li >
        <button (click)="logOut()" class="bg-blue-800 text-yellow-50 rounded-md p-2 font-bold mx-3" type="button">Log out</button>
      </li>
    </ul>
  </ng-container>
</nav>
