<aside class="absolute top-4 right-4">
  <button
    (click)="onCatchClick()"
    class="bg-blue-800 text-yellow-50 rounded-md p-2"
    type="button"
  >
    <ng-container *ngIf="isTrainer; then test; else caseB"> </ng-container>
    <ng-template #test
      ><img class="w-8" src="assets/images/cross.png" alt="Catch it"
    /></ng-template>
    <ng-template #caseB>
      <ng-template *ngIf="isCaught; then caught; else notCaught"></ng-template>
      <ng-template #caught
        ><img class="w-8" src="assets/images/pokebag.png" alt="Catched!"
      /></ng-template>
      <ng-template #notCaught
        ><img class="w-8" src="assets/images/ball.png" alt="Catch it"
      /></ng-template>
    </ng-template>
  </button>
</aside>
