<header class="container mx-auto p-4">
    <h1 *ngIf="trainer" class=" text-2xl sm:text-6xl text-center">
        Nice to see you {{trainer.username}}!
    </h1> 
    <img src="assets/images/logop.png" class="mt-2 mx-auto p-2 w-1/3 sm:w-1/5">
</header>
<main class="container mx-auto p-4">
    <h3 class="text-xl m-2 sm:text-2xl">See your pokebag below</h3>
    <div *ngIf="pokemons.length === 0">
        <img src="assets/images/sp.png" class="mt-2 p-2 w-1/5 sm:w-1/6 inline">
        <q class="inline text-xs italic font-bold text-pink-500 sm:text-lg ">No pokemons in pokebag my friend!</q>
    </div>
    <app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>
</main>
