<button
    (click)="onShowClick()"
    class="bg-blue-800 text-yellow-50 rounded-md p-2 w-full"
    type="button"> Show More
</button>
<div *ngIf="modal" class="modal fixed pt-20 left-0 top-0 w-full h-full bg-gray-400 z-50 ">
    <div class="w-4/5 sm:w-1/2 bg-red-100 p-2 mx-auto relative rounded" >
        <p class="text-2xl">Info</p>
        <h1 *ngIf="pokemon">{{pokemon.id}}</h1>
        <h2 *ngIf="pokemon" class="font-bold text-xl">Name: {{pokemon.name}} </h2>
        <img *ngIf="pokemon" src={{pokemon.image}}>
        <h3 class="bold-header">Abilities:</h3>
        <div *ngIf="pokemonDetails" >
            <span *ngFor="let ability of pokemonDetails.abilities"> <p> {{ability.ability.name}}</p> </span> </div>
        <h3 class="bold-header">Types:</h3>
        <div *ngIf="pokemonDetails"><span *ngFor="let type of pokemonDetails.types"> <p> {{type.type.name}}</p> </span></div>
        <h3 class="bold-header">Stats:</h3>
        <div *ngIf="pokemonDetails"> <span *ngFor="let stat of pokemonDetails.stats"> <p> {{stat.stat.name}}: {{stat.base_stat}}</p> </span></div>
        <button type="button" (click)="onCloseModalClick()" class="close absolute top-2 right-2 bg-red-700 text-white rounded-md p-2 font-bold mx-3">Close</button>
    </div>
</div>
