<form class="bg-blue-100 p-2 rounded w-full mx-auto sm:w-1/2" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
  <fieldset class="mb-3">
    <label for="username" class="block font-bold">Username</label>
    <input
      ngModel
      #username="ngModel"
      type="text"
      name="username"
      id="username"
      class="border border-slate-700 p-3 rounded w-full"
      placeholder="Ash Ketchum"
    />
  </fieldset>
  <button type="submit" class="bg-blue-700 rounded-md p-3 text-yellow-50 w-full" >Log in</button>
</form>
